<h1>Employment Status</h1>
<p>
  Status: <%= @employment_status.status %>
</p>
<p>
  Applicant Action: <%= @employment_status.action %>
</p>
<p>
  Email Subject: <%= @employment_status.email_subject %>
</p>
<p>
  Email Body:<br>
  <%= @employment_status.email_body.gsub(/\r\n/, '<br>').html_safe %>
</p>
