<div id = '<%=div_id_for(klass_certificate)%>'>
  <p>
    <%= button_edit_association(klass_certificate, title: 'Edit Certificate') %>
    <%= button_destroy_association(klass_certificate, title: 'Delete Certificate') %>
    <%= "#{klass_certificate.code}: #{klass_certificate.name}" %><br>
  </p>
</div>
