<div class = 'row-fluid'>
<div class='span10 offset1'>
  <h2 style='margin-left: 20px; padding-top: 5px'>
  Please complete this form to determine eligibility to receive employment related services and training at NO COST to you or employers. Thank you.
  </h2>
  <%= render 'form', applicant: @applicant %>
</div>
</div>
