<h1>Special Services</h1>
<% if policy(SpecialService).index? %>
  <div id='special_services'>
    <%= render @special_services %>
  </div>
  <%= link_to new_special_service_path, class: "btn btn-flat btn-small btn-primary", id: 'new_special_service_link', remote: true, rel:"tooltip", title:"Add Funding Source" do%>
      <i class="icon-plus"></i> New
  <% end %>
<% end %>
