---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=120%20Wood%20Ave%20S,%20Iselin,%20NJ,%2008830&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "120",
                       "short_name" : "120",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "South Wood Avenue",
                       "short_name" : "S Wood Ave",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Iselin",
                       "short_name" : "Iselin",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                       "long_[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=iselin,nj,08830&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "addr[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=40.5753817,-74.3223703&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=,08830&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_compo[...]
[...]
