---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=10%20Mozart%20CT,%20East%20Windsor,%20NJ,%2008520&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "10",
                       "short_name" : "10",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Mozart Court",
                       "short_name" : "Mozart Ct",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "East Windsor",
                       "short_name" : "East Windsor",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Mercer County",
                       "short_name" : "Mercer County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "New Jersey",
                       "short_name" : "NJ",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "08520",
                       "short_name" : "08520",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "10 Mozart Court, East Windsor, NJ 08520, USA",
                 "geometry" : {
                    "location" : {
                       "lat" : 40.250404,
                       "lng" : -74.54227299999999
                    },
                    "location_type" : "ROOFTOP",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 40.2517529802915,
                          "lng" : -74.5409240197085
                       },
                       "southwest" : {
                          "lat" : 40.2490550197085,
                          "lng" : -74.5436219802915
                       }
                    }
                 },
                 "types" : [ "street_address" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 22 Apr 2014 18:32:56 GMT
recorded_with: VCR 2.8.0
