---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?key=<googleapis_key>&query=Munich%20Re%20near%20Princeton,NJ&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "next_page_token" : "CvQB4QAAANJHJj7ugcNeJkKJh3Y4HLY013u8aVlc4Zc6FW3m5YcM0T7L3RLioHisJUND0dcZQTAQK5Ttdp_5oL6qp71sM5GGmptEBDCaD8TcgaWDJeAE6B1W0weQ_IMTndfoUHJ2qFzz7Can3XwFec_BF9VUz4EEbGd7WamL6mpeQMu-tnAHvZsGtTpujZ1Bbwm7nN-i1x6HzQIhjzZ4sUYkE5drYRROW_tShdf_y5jDeeh1kLxjfSHfgA3RS6HGVQKrHlOhxVBwUobJdzkJ_sF5TokiHJ6JBJbEMWwA06zoJ2DvntJRg_Hai1NdJ1kBM5XlRBoP6RIQAft9OKYlILXASVCmjLBcTRoUTp2CtdAjq7XKGtzj_vF_3dVtL_E",
           "results" : [
              {
                 "formatted_address" : "555 College Rd E, Princeton, NJ, United States",
                 "geometry" : {
                    "location" : {
                       "lat" : 40.350303,
                       "lng" : -74.592834
                    }
                 },
                 "icon" : "http://maps.gstatic.com/mapfiles/place_api/icons/generic_business-71.png",
                 "id" : "148cb7216d466488f3c247a85eb2474fcdfd9bf8",
                 "name" : "Munich Reinsurance America, Inc",
                 "reference" : "CpQBggAAAPowUbcEwxOenFJP8cRX96NIEiNKhB97DTbU5z7kFuJX1Gl5EQe7-8JDWZSLtTUtunqMVL4wRA04YBDK4A7Q6ydDtHXzBdJ1BRw6yePEJmovYNxoKtje2aRk0ciQqjlTieMWDcr77H_XqTX6Bi-HMbfzWnfuAI51lPbncoFm5MRSAw-9HAliEHYCfVpiyG4tkBIQDASejUKvlQYAvDIaxa4_lRoUzQOuDdEW49Qzibge7iQGb4eDV-Q",
                 "types" : [ "insurance_agency", "health", "establishment" ]
              },
              {
                 "formatted_address" : "685 College Rd E, Princeton, NJ, United States",
                 "geometry" : {
                    "location" : {
                       "lat" : 40.343925,
                       "lng" : -74.59334200000001
                    }
                 },
                 "icon" : "http://maps.gstatic.com/mapfiles/place_api/icons/generic_business-71.png",
                 "id" : [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=princeton,nj&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Princeton",
                       "short_name" : "Princeton",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Mercer County",
                       "short_name" : "Mercer County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "New Jersey",
                       "short_name" : "NJ",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Princeton, NJ, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 40.3917548,
                          "lng" : -74.61750789999999
                       },
                       "southwest" : {
                          "lat" : 40.3048718,
                          "lng" : -74.722177
                       }
                    },
                    "location" : {
                       "lat" : 40.3572976,
                       "lng" : -74.6672226
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 40.3917548,
                          "lng" : -74.61750789999999
                       },
                       "southwest" : {
                          "lat" : 40.3048718,
                          "lng" : -74.722177
                       }
                    }
                 },
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 02 Jul 2014 18:27:30 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=40.3572976,-74.6672226&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "addre[...]
