---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=54%20Kellogg%20Court,Edison,NJ,08817&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "54",
                       "short_name" : "54",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Kellogg Court",
                       "short_name" : "Kellogg Ct",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Edison",
                       "short_name" : "Edison",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Middlesex County",
                       "short_name" : "Middlesex County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "New Jersey",
                       "short_name" : "NJ",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "08817",
                       "short_name" : "08817",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "54 Kellogg Court, Edison, NJ 08817, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 40.5367735,
                          "lng" : -74.4016986
                       },
                       "southwest" : {
                          "lat" : 40.5367634,
                          "lng" : -74.4017114
                       }
                    },
                    "location" : {
                       "lat" : 40.5367735,
                       "lng" : -74.4016986
                    },
                    "location_type" : "RANGE_INTERPOLATED",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 40.53811743029149,
                          "lng" : -74.4003560197085
                       },
                       "southwest" : {
                          "lat" : 40.53541946970849,
                          "lng" : -74.4030539802915
                       }
                    }
                 },
                 "partial_match" : true,
                 "types" : [ "street_address" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 31 Jan 2015 23:52:18 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=1653%20New%20Jersey%2027,Edison,NJ,08817&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
             [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=3%20not%20a%20street,not%20a%20city,CC,00033&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Sat, 31 Jan 2015 23:52:19 GMT
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=3%20not%20a%20street,not%20a%20city,CC,00033&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Sat, 31 Jan 2015 23:52:24 GMT
recorded_with: VCR 2.9.2
