---
http_interactions:
- request:
    method: post
    uri: https://www.google.com/accounts/ClientLogin
    body:
      encoding: US-ASCII
      string: accountType=HOSTED_OR_GOOGLE&Email=managee2e%40operoinc.com&Passwd=helpjobseeker&service=fusiontables&source=GoogleDataRubyUtil-AnonymousApp
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        SID=DQAAAOEAAADsXkvADVwKH98EjAIJEne7fAFMh-8Mq1YL__MXdDBQTLjJsiO59ZAIo9peARXKigDBNx09qr4PPzjaOevBuNVrqrQ4RAvmNKLxDpoz85fM78afUKWpKI9NB5QT5lIMPaiyiogyIANdn6eEyAjx4tcvFvAPyS3h-5OSHNsQFMByHUhNRIQL7aKdU-SIhzDdL7b2uZwE9h-jo0aLvDAIMCU5CTw_W2YHyro1AED_gJUg6g0E54Uu8n98zQq8R2AXLdPWe6OK3RjNQiRKDn60lpBOR3UnTOiDROsAzR1WqfEDQRJ1sdOl0GdoJYRNmutDQGI
        LSID=DQAAAOUAAAC0R2FGdn4nrrEwdZErMIQBRQwPUr56aLeaKB1C2b1N5Sw9v6ZdK7k4mR-3NEXqQjb6U7kENhbiiBcQJPCOJNm0ddoAPCU-qxMcgQ1QXzv9BBs224JAAhqaWC69xh1Q84C371YXjPNCl_xmD_fh_eiUfj9lr0uRewwZSsqGpfGPxXN7uhGMzsbHK0aJATaDmh4XWJUpkobs4EhXV2GYKDMWz1lVTAeuu1ugROFhhL--g0-j7Xv7u57unCRbt9DbMtkZYt8CLHAcabk1yq_DRztK6QUJJqHsN-_z_0h5TG5S7zPGJ-oqbozQJ61O4WhvP8E
        Auth=DQAAAOYAAACoThY3pnBHslbq2r18wbj4ntgyaQnW8St6us-jzqnRE2HtWxYtUGMsK_mVOTGVuzZ1t_cJkQwaueLheOinhLyaI9bUQL97tYI9F1d8gQboU3FmYssyAUdw_y34nQmQ7W8p2_HNmSkFE86H1pVgz66PiEhJczzcE8HvhICGhoOj2Hc0p-7DFUl4_vGczDs5PM3-1JktT11X6djU37tToIEQz3_-MqFD1ljhf1yJoFhUie0TnAjzlv7hUN2NDrqbAzn-jdWstfVuYMBgzfc5mqywPI1w4YSg61i11kRbl0vBP2kvtDUhZrTDicKnWHCV3iw
  recorded_at: Tue, 22 Apr 2014 18:47:30 GMT
- request:
    method: get
    uri: https://www.googleapis.com/fusiontables/v1/query?key=<googleapis_key>&sql=SELECT%20geometry%20FROM%200IMZAFCwR-t7jZnVzaW9udGFibGVzOjIxMDIxNw%20WHERE%20'State-County'%20=%20'NJ-Middlesex'%3B
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Gdata-Version:
      - '2'
      Authorization:
      - GoogleLogin auth=DQAAAOYAAACoThY3pnBHslbq2r18wbj4ntgyaQnW8St6us-jzqnRE2HtWxYtUGMsK_mVOTGVuzZ1t_cJkQwaueLheOinhLyaI9bUQL97tYI9F1d8gQboU3FmYssyAUdw_y34nQmQ7W8p2_HNmSkFE86H1pVgz66PiEhJczzcE8HvhICGhoOj2Hc0p-7DFUl4_vGczDs5PM3-1JktT11X6djU37tToIEQz3_-MqFD1ljhf1yJoFhUie0TnAjzlv7hUN2NDrqbAzn-jdWstfVuYMBgzfc5mqywPI1w4YSg61i11kRbl0vBP2kvtDUhZrTDicKnWHCV3iw
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - "\"2SbRqHRgXkQM-CNGbnsZBBmy7iU/9sLGb-5If1UZMHOD0Bg4Gh75dRM\""
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "fusiontables#sqlresponse",
         "columns": [
          "geometry"
         ],
         "rows": [
          [
           {
            "geometry": {
             "type": "Polygon",
             "coordinates": [
              [
               [
                -74.39611,
                40.27888
               ],
               [
                -74.39352,
                40.27957
               ],
               [
                -74.39295,
                40.2811
               ],
               [
                -74.39413,
                40.28295
               ],
               [
                -74.39411,
                40.28846
               ],
               [
                -74.38527,
   [...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/fusiontables/v1/query?key=<googleapis_key>&sql=SELECT%20geometry%20FROM%200IMZAFCwR-t7jZnVzaW9udGFibGVzOjIxMDIxNw%20WHERE%20'State-County'%20=%20'PA-Lycoming'%3B
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Gdata-Version:
      - '2'
      Authorization:
      - GoogleLogin auth=DQAAAOcAAADQ5pVXvpRXBW3RzVXPiK_KWUrKH3XpjsfenVigvk0q2Ca806spLftY7MM5Ykw8[...]
- request:
    method: get
    uri: https://www.googleapis.com/fusiontables/v1/query?key=<googleapis_key>&sql=SELECT%20geometry%20FROM%200IMZAFCwR-t7jZnVzaW9udGFibGVzOjIxMDIxNw%20WHERE%20'State-County'%20=%20'NJ-Camden'%3B
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Gdata-Version:
      - '2'
      Authorization:
      - GoogleLogin auth=DQAAAOYAAACoThY3pnBHslbq2r18wbj4ntgyaQnW8St6us-jzqnRE2HtWxYtUGMsK_mVOTGVuz[...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/fusiontables/v1/query?key=<googleapis_key>&sql=SELECT%20geometry%20FROM%200IMZAFCwR-t7jZnVzaW9udGFibGVzOjIxMDIxNw%20WHERE%20'State-County'%20=%20'PA-Philadelphia'%3B
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Gdata-Version:
      - '2'
      Authorization:
      - GoogleLogin auth=DQAAAOUAAAD9BoOS2b6CXnd9-vxEspYy4q0inOgixGlr-UxfCZxmULI33IzkPtPyMtTD[...]
- request:
    method: get
    uri: https://www.googleapis.com/fusiontables/v1/query?key=<googleapis_key>&sql=SELECT%20geometry%20FROM%200IMZAFCwR-t7jZnVzaW9udGFibGVzOjIxMDIxNw%20WHERE%20'State-County'%20=%20'DE-Kent'%3B
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Gdata-Version:
      - '2'
      Authorization:
      - GoogleLogin auth=DQAAAOYAAACoThY3pnBHslbq2r18wbj4ntgyaQnW8St6us-jzqnRE2HtWxYtUGMsK_mVOTGVuzZ1[...]
- request:
    method: get
    uri: https://www.googleapis.com/fusiontables/v1/query?key=<googleapis_key>&sql=SELECT%20geometry%20FROM%200IMZAFCwR-t7jZnVzaW9udGFibGVzOjIxMDIxNw%20WHERE%20'State-County'%20=%20'DE-New%20Castle'%3B
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Gdata-Version:
      - '2'
      Authorization:
      - GoogleLogin auth=DQAAAOcAAADQ5pVXvpRXBW3RzVXPiK_KWUrKH3XpjsfenVigvk0q2Ca806spLftY7MM5[...]
- request:
    method: get
    uri: https://www.googleapis.com/fusiontables/v1/query?key=<googleapis_key>&sql=SELECT%20geometry%20FROM%200IMZAFCwR-t7jZnVzaW9udGFibGVzOjIxMDIxNw%20WHERE%20'State-County'%20=%20'DE-Sussex'%3B
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Gdata-Version:
      - '2'
      Authorization:
      - GoogleLogin auth=DQAAAOUAAAD9BoOS2b6CXnd9-vxEspYy4q0inOgixGlr-UxfCZxmULI33IzkPtPyMtTDHsxa6w[...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/fusiontables/v1/query?key=<googleapis_key>&sql=SELECT%20geometry%20FROM%200IMZAFCwR-t7jZnVzaW9udGFibGVzOjIxMDIxNw%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20WHERE%20'State-County'%20=%20'DE-Kent'%3B
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Gdata-Version:
      - '2'
      Authorization:
      - GoogleLogin auth=DQAA[...]
- request:
    method: get
    uri: https://www.googleapis.com/fusiontables/v1/query?key=<googleapis_key>&sql=SELECT%20geometry%20FROM%200IMZAFCwR-t7jZnVzaW9udGFibGVzOjIxMDIxNw%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20WHERE%20'State-County'%20=%20'DE-New%20Castle'%3B
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Gdata-Version:
      - '2'
      Authorization:
      - GoogleLogin a[...]
- request:
    method: get
    uri: https://www.googleapis.com/fusiontables/v1/query?key=<googleapis_key>&sql=SELECT%20geometry%20FROM%200IMZAFCwR-t7jZnVzaW9udGFibGVzOjIxMDIxNw%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20WHERE%20'State-County'%20=%20'DE-Sussex'%3B
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Gdata-Version:
      - '2'
      Authorization:
      - GoogleLogin auth=DQ[...]
