---
http_interactions:
- request:
    method: get
    uri: http://api.indeed.com/ads/apisearch?format=json&fromage=7&l=Camden,NJ&limit=25&publisher=5675970181406859&q=pediatric%20OR%20nurse&radius=5&start=25&useragent=Mozilla//4.0(Firefox)&userip=127.0.0.1&v=2
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/javascript;charset=UTF-8
    body:
      encoding: UTF-8
      string: "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n {\n\n    \"version\" : 2,\n
        \   \"query\" : \"pediatric OR nurse\",\n    \"location\" : \"Camden,NJ\",\n
        \   \n    \"dupefilter\" : true,\n     \n    \"highlight\" : true,\n    \n
        \   \"radius\" : 5,\n    \n    \n    \"start\" : 26,\n    \"end\" : 50,\n
        \   \"totalResults\" : 345,\n     \n    \"pageNumber\" : 1,\n    \n    \n
        \   \n    \n    \n\n     \n\n    \n\n    \n\n    \"results\" : [\n        \n
        \           \n                {\n                    \"jobtitle\" : \"Dialysis
        Registered Nurse - RN\",\n                    \"company\" : \"Supplemental
        Health Care\",\n                    \"city\" : \"Philadelphia\",\n                    \"state\"
        : \"PA\",\n                    \"country\" : \"US\",\n                    \"formattedLocation\"
        : \"Philadelphia, PA\",\n                    \"source\" : \"Supplemental HealthCare\",\n
        \                   \"date\" : \"Sat, 21 Mar 2015 00:32:05 GMT\",\n                    \"snippet\"
        : \"Supplemental Health Care is seeking a Dialysis RN for a 13 week contract
        with a STRONG possibility for an extension. This position starts in April.
        This is a\",\n                    \"url\" : \"http://www.indeed.com/viewjob?jk=8486394eaab544ac&qd=dbiWh_LzHK6bTV-fOfIZZ8dFJFgc0tkmGuNICHHxC6Ty1ErQO15B3HmMocucshCafGrJPqyR5Bak4cSbtJvAyB_2nnIGxfuo1-bQ358pa1Vs1uKyNuuU-5o3Sw2wSU-Q&indpubnum=5675970181406859&atk=19h3evj1d0nl22tf\",\n
        \                   \"onmousedown\" : \"indeed_clk(this, '2663');\",\n                    \"jobkey\"
        : \"8486394eaab544ac\",\n                    \"sponsored\" : false,\n                    \"expired\"
        : false,\n                    \"indeedApply\" : false,\n                    \"formattedLocationFull\"
        : \"Philadelphia, PA\",\n                    \"formattedRelativeTime\" : \"2
        days ago\"                \n}\n\n            ,\n        \n            \n                {\n
        \                   \"jobtitle\" : \"Utilization Review Nurse (RN)\",\n                    \"company\"
        : \"Randstad Healthcare\",\n                    \"city\" : \"Philadelphia\",\n
        \                   \"state\" : \"PA\",\n                    \"country\" :
        \"US\",\n                    \"formattedLocation\" : \"Philadelphia, PA\",\n
        \                   \[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=pennsauken,nj&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Pennsauken Township",
                       "short_name" : "Pennsauken Township",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Camden County",
                       "short_name" : "Camden County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "New Jersey",
                       "short_name" : "NJ",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Pennsauken Township, NJ, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.9960808,
                          "lng" : -75.0101459
                       },
                       "southwest" : {
                          "lat" : 39.9242009,
                          "lng" : -75.11764079999999
                       }
                    },
                    "location" : {
                       "lat" : 39.9562052,
                       "lng" : -75.058009
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.9960808,
                          "lng" : -75.0101459
                       },
                       "southwest" : {
                          "lat" : 39.9242009,
                          "lng" : -75.11764079999999
                       }
                    }
                 },
                 "place_id" : "ChIJc5XR1I7JxokRObBpG4XN2_Y",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 23 Mar 2015 14:10:27 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=39.9562052,-75.058009&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=camden,nj&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_com[...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?key=<googleapis_key>&query=Advanced%20Surgical%20near%20Camden,NJ&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "next_page_token" : "CvQB5gAAACN_Tj0Hau7YF7PQvolcP6pIpvvu4sGbTB2ERHhL94LT6ni9-C3TK8R8pFqYYGYs8OSUyWdwbppv0fyaFmuDnlEs7LkCjmlhhmdWu2GxLJ3gpsrcewyGq-2YVFlV9ROhZ1_F2eQSSrtKS9ImXrt0vkbbfToomwZpJ5jTO-LA_R9C0pVVnTX6OmVP4VBAKj9_MSINGHIEZ49LnNYShegvwXOhWbL53jHQ9Fw58kxw248V0S35akBNivCc5d53ZQZvL1DW0fMm-Em3Yo6yF2rNpz7xvXjb39hxzJanFoXPlLwYSCZMUEbqd4PV04TCIGr95RIQVJgSHBGkxyUfTck6eEFTlxoUz6bdUY1y2uFSgGR0yuacSDWQHD8",
           "results" : [
              {
                 "formatted_address" : "556 Egg Harbor Road, Sewell, NJ 08080, United States",
                 "geometry" : {
                    "location" : {
                       "lat" : 39.736007,
                       "lng" : -75.063654
                    }
                 },
                 "icon" : "http://maps.gstatic.com/mapfiles/place_api/icons/doctor-71.png",
                 "id" : "20a3e0dc6b89ffca2645627dbed479335ed75a9b",
                 "name" : "Advanced Surgical Institute",
                 "opening_hours" : {
                    "open_now" : true,
                    "weekday_text" : []
                 },
                 "place_id" : "ChIJDUZ-Z6jWxokRR8mv5SCgtbA",
                 "reference" : "CnRvAAAAZMGz4Ia02AmGwhGacTynjHrTtvscW6jTeljzvQS0-inkgf2_EuORMhFCE6cJ3qAqQYX5qKKXGZNiuVykoWFEN4KJYIHfwYmFqKXu-zgtftDkf1Yi3QftGI2wpGX1TQliQY-VayDwmPCoV34qeuYJgxIQcJCI770LZKsVf4i3ZehS3BoUNO-ju9GZR2JgIuBzbA_WE7PHBCQ",
                 "types" : [ "hospital", "doctor", "health", "establishment" ]
              },
              {
                 "formatted_address" : "1501 Lansdowne Avenue, Darby, PA 19023, United States",
                 "geometry" : {
                    "location" : {
         [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<googleapis_key>&reference=CnRwAAAAK1F_2_QXjK2jho41sYMyTtIs2q6oIBZSE6KASHVttqYB-Shu5QQ1nTu1Wd1ZblvNp80AbcgVOuZfDvZbb1Uh7dmzripOMwmRKpJjL6Nhcw_uHqlO22SKjpl1Ypocpmm_WejxUhtMB6suHPBp7n2XGBIQ-tEk0emm61Zf1nIdOY6WzxoUcKoFipqIzRftV7b7qP_-_I1Rz7o&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "result" : {
              "address_components" : [
                 {
                    "long_name" : "1068",
                    "short_name" : "1068",
                    "types" : [ "street_number" ]
                 },
                 {
                    "long_name" : "West Baltimore Pike",
                    "short_name" : "W Baltimore Pike",
                    "types" : [ "route" ]
                 },
                 {
                    "long_name" : "Media",
                    "short_name" : "Media",
                    "types" : [ "locality", "political" ]
                 },
                 {
                    "long_name" : "Pennsylvania",
                    "short_name" : "PA",
                    "types" : [ "administrative_area_level_1", "political" ]
                 },
                 {
                    "long_name" : "United States",
                    "short_name" : "US",
                    "types" : [ "country", "political" ]
                 },
                 {
                    "long_name" : "19063",
                    "short_name" : "19063",
                    "types" : [ "postal_code" ]
                 },
                 {
                    "long_name" : "5104",
                    "short_name" : "5104",
                    "types" : [ "postal_code_suffix" ]
                 }
              ],
              "adr_address" : "\u003cspan class=\"street-address\"\u003e1068 West Baltimore Pike\u003c/span\u003e, \u003cspan class=\"locality\"\u003eMedia\u003c/span\u003e, \u003cspan class=\"region\"\u003ePA\u003c/span\u003e \u003cspan class=\"postal-code\"\u003e19063\u003c/span\u003e, \u003cspan class=\"country-name\"\u003eUnited States\u003c/span\u003e",
              "formatted_address" : "1068 West Baltimore Pike, Media, PA 19063, United States",
              "formatted_phone_number" : "(484) 443-8576",
              "geometry" : {
                 "location" : {
                    "lat" : 39.914326,
                    "lng" : -75.43007799999999
                 }
              },
              "icon" : "http://maps.gstatic.com/mapfiles/place_api/icons/doctor-71.png",
              "id" : "a9833fc69d4ba106bb2cdb2c1886e2c88735fb36",
              "international_phone_number" : "+1 484-443-8576",
              "name" : "Advanced Surgical Associates",
              "place_id" : "ChIJW3pLFSrpxokR3XnhPJEui6k",
              "reference" : "CnRwAAAARMDMXsvNHOdWYvCIRbCgZce9vaGPnKZuvcdLNY8R8iT6uUssxUCel1TN342NFAVrlTDsqvpqb8gi_zw-xILyGZsAnQ4fHdHL11YO19DsqLBN-GezXxqVi0Hs2ihcFJI9-2ZPUiD7UPUifIlEkmg_IRIQTpNFXn8f3-iaI-uQRhuE5BoU1FXl325HgJzKJud-JMDD-twHw5s",
              "scope" : "GOOGLE",
              "types" : [ "doctor", "health", "establishment" ],
              "url" : "https://plus.google.com/103233587764622617841/about?hl=en-US",
              "utc_offset" : -240,
              "vicinity" : "1068 West Baltimore Pike, Media"
           },
           "status" : "OK"
        }
  recorded_at: Mon, 23 Mar 2015 14:10:29 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=1068%20West%20Baltimore%20Pike,%20Media,%20PA%2019063,%20United%20States&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        {
       [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=media,pa,19063&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "addres[...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?key=<googleapis_key>&query=American%20Traveler%20Staffing%20Professionals%20near%20Camden,NJ&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [
              {
                 "formatted_address" : "1200 Market Street, Philadelphia, PA 19107, United States",
                 "geometry" : {
                    "location" : {
                       "lat" : 39.951653,
                       "lng" : -75.16027699999999
                    }
                 },
                 "icon" : "http://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png",
                 "id" : "263a6982cfd046180991a33e2bf96eae38fa68dd",
                 "name" : "Loews Philadelphia Hotel",
                 "photos" : [
                    {
                       "height" : 299,
                       "html_attributions" : [],
                       "photo_reference" : "CnRnAAAAPCYyMfEo6Zf8TBD0WGkOzMrH5VWN0XWP7zqeXSANVhCM-FfcxCDl0Kg76YCrswCs0j3Sbr3PzxxUB0lP_n0geLmGP1nDrGboL82ixgUNaxJVnK1u1-En_DAS3FndZ5Njt1fhO8yRqY-CrOzq3Jyc4hIQuUZR0XOwUP3pL4yHTLf0QhoUU4sUGP34RV4fAuxbtJh-YH_XzUk",
                       "width" : 448
                    }
                 ],
                 "place_id" : "ChIJ6bNuLSnGxokR29Oj-g9Tojo",
                 "rating" : 3.7,
                 "reference" : "CnRrAAAALybtzg8kcxFFuKu2wpw0MtjKAECHWuyGhmyeVoFG-4YfY_BxfbjRss-gbShZmUo1FlsRpzsweabYL_UzkYt8Gmen2zbZGxYERqyMPL4yq8suLxhg9AFVAYO9lzreefRfS55uK8ciAgYQGOh2cLSZOBIQjeGTGsa7_2NQK-1Booo7ChoUvgdyr5lp3u2jWk7kzqtWYM7M4Rk",
                 "types" : [ "lodging", "establishment" ]
              },
              {
                 "formatted_address" : "1100 Arch Street, Philadelphia, PA 19107, United States",
                 "geometry" : {
                    "locati[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=<googleapis_key>&location=39.9259463,-75.1196199&name=American%20Traveler%20Staffing%20Professionals&radius=50000&sensor=false&types=establishment
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Mon, 23 Mar 2015 14:10:31 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?key=<googleapis_key>&query=BAYADA%20Home%20Health%20Care%20near%20Cherry%20Hill,NJ&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        {
      [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<googleapis_key>&reference=CnRrAAAAV-d9cHIiMH_p8i_nvj_uGqNzmbgRW2YU-VcyRPM70xZ7QpE9n7QsIHoysF-9hA5KAQcysJyYc9nnmg-IPJYFO-jG993QnSu86PARMKYsCYM8FVW1aFKUXI0ZwwoQOjF7vZJcwqYvxI4ZZ6c8Bh5fRhIQiZ7U8DzJGLiSLf3pPIE4ERoUYX6aNay3612q1tA7mhSkbpCw4OU&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Ty[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=20%20Brace%20Road%20%23202,%20Cherry%20Hill,%20NJ%2008034,%20United%20States&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        {
   [...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?key=<googleapis_key>&query=Bentley%20Senior%20Living%20%2B%20near%20Pennsauken%20Township,NJ&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
      [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<googleapis_key>&reference=CpQBiAAAADj-DSZPTG6363wgSNn3GgUaOH369cvGEqIBXV6w-LWQpmEp3J6Vqx3mJJWNcNvVpGa0SiW7Mc91hisZ26MzWtjgmJSmRHGibNUlayLxI8V0dCbtR9oSSXgVr_FGLK6rvzPX_D0ntGKnWLXf_JlV2faXoxxbCpbr40d6JZuhbzIVktc7qH2RVFn-D3mwuBHlmxIQjSDxegWe6Whq7ieKU0eaBRoUFrecj-3xTMPiBSuANg9FbiQrAiY&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
   [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=7999%20U.S.%20130,%20Pennsauken%20Township,%20NJ%2008110,%20United%20States&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        {
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?key=<googleapis_key>&query=CAMCare%20Health%20Corporation%20near%20Camden,NJ&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        {
           "[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<googleapis_key>&reference=CnRtAAAAWvEf5UsNTtE05XiAVbSrAdM_x_oltQuqgOCaYi7KqjlQhY-JRk9hz0sZlYVRq_z2IrtBF4je7ApteINmouCwuhT2zMH0YsK5_Cw5el_EGXCzKGs40PL3kN2wNXGgco2IBMPZitjS1OzyGKiOAJFirRIQ8WgZzkStBePcobI3W0Zi5hoUzxLxZ1Vw_9oFLFFqOfkm9XbGxuY&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Ty[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=1820%20Van%20Buren%20Street,%20Camden,%20NJ%2008104,%20United%20States&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        {
         [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?key=<googleapis_key>&query=CooperHealth%20near%20Camden,NJ&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions"[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<googleapis_key>&reference=CnRwAAAAAEQcjAkur7_8C8aO8yoTlcwAllw4KKqOjddGSZJ2T_tpCWof85CgmhUFhcBwYJfbprQVwvre2yRjOtl0T2zNvEdt05ByjudxrmPdKg8SkLql2Zv7_X5KjN7hLb8M3Z6USpZEITtClHBDyA9PWcTRpBIQztc_y-dB8Ih0M_YaRX_PyBoU_u0DL4-kXrMpQ7VneEjj8gscecQ&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Ty[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=1%20Cooper%20Plaza,%20Camden,%20NJ%2008103,%20United%20States&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        {
           "result[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?key=<googleapis_key>&query=FCS%20First%20Choice%20Services%20near%20Cherry%20Hill,NJ&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        {
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=<googleapis_key>&location=39.926813,-75.0246312&name=FCS%20First%20Choice%20Services&radius=50000&sensor=false&types=establishment
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Mon, 23 Mar 2015 14:10:35 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?key=<googleapis_key>&query=FCSpsy%20near%20Cherry%20Hill,NJ&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Mon, 23 Mar 2015 14:10:36 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?key=<googleapis_key>&query=Genesis%20HealthCare%20near%20Pennsauken%20Township,NJ&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        {
       [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<googleapis_key>&reference=CoQBcQAAAHGIAHGCE_khAkFURHgY_WFoICIEIPBdE53OUWp08bhNCTYbnCvnPddgLy7Jt-grdinZBViEurEm_t4PnwJelvI8-6QcrpdrsFgq8gCbnmUTrEXleO2j6iJFWQ0q7uxczkXXJbx7OzRNglB7HqgBp9kyD_h8z7Fx128FbmztdnzBEhB5YP2YXmt79U1vaTz0DN-6GhRcDN-moHPK9PW_Mh12mmSUWW4bPQ&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    he[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=5101%20North%20Park%20Drive,%20Pennsauken%20Township,%20NJ%2008109,%20United%20States&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?key=<googleapis_key>&query=HOOVER%20REHABILITATION%20SERVICES,%20INC.%20near%20Cherry%20Hill,NJ&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
   [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<googleapis_key>&reference=CnRpAAAAZZYuTMw5eWxWZFWVWPUF7EehJLdB6nS5sJE3k2G7WVhGOLr0DNwL_9-YgIlnOeuCAQoP4IbrjnolcR_GH8SFJWU0_sFoP3zUdmW7Wia7RT-rIORKezxtzM_G5fJByusOPhOvW7utF5tIy9Qjq8iueBIQmCK9K7yTDvoX43Quxop_aRoU57VjBBgze5zORVF3mQ9JMNGURWE&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Ty[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=19%20Jenkins%20Avenue%20%23%20100,%20Lansdale,%20PA%2019446,%20United%20States&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        {
 [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=lansdale,pa,19446&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "add[...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?key=<googleapis_key>&query=Kennedy%20Health%20System%20near%20Cherry%20Hill,NJ&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        {
          [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<googleapis_key>&reference=CnRoAAAAtK_1yRSOR5vzZdzj9tIbHiQkpgZdDzKhCYDO8xkhAkJ-FYh-HUEPo4_bRhGOP662DmWEG9UW8gZHVtzw3UObgOhgq2YfZcU01XKd0X4L2zevqOGCA-q3_qh2v08pcO7qY2dlN9odeS7zRhalNkC3hxIQ1OiRh_wywEyeZZzDq3ajaBoU-07CojCDMsr4vX_QmsNVrVskmcI&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Ty[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=2201%20Chapel%20Avenue%20West,%20Cherry%20Hill,%20NJ%2008002,%20United%20States&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        {
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?key=<googleapis_key>&query=LabCorp%20near%20Cherry%20Hill,NJ&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        {
           "html_attribution[...]
[...]
