---
http_interactions:
- request:
    method: get
    uri: http://api.indeed.com/ads/apisearch?format=json&fromage=7&l=Edison,NJ&limit=25&publisher=5675970181406859&q=cnc&radius=10&start=25&useragent=Mozilla//4.0(Firefox)&userip=127.0.0.1&v=2
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/javascript;charset=UTF-8
    body:
      encoding: UTF-8
      string: "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n {\n\n    \"version\" : 2,\n
        \   \"query\" : \"cnc\",\n    \"location\" : \"Edison,NJ\",\n    \n    \"dupefilter\"
        : true,\n     \n    \"highlight\" : true,\n    \n    \"radius\" : 10,\n    \n
        \   \n    \"start\" : 1,\n    \"end\" : 2,\n    \"totalResults\" : 2,\n     \n
        \   \"pageNumber\" : 0,\n    \n    \n    \n    \n    \n\n     \n\n    \n\n
        \   \n\n    \"results\" : [\n        \n            \n                {\n                    \"jobtitle\"
        : \"ASST INSTRMNT MAKER\",\n                    \"company\" : \"Rutgers University\",\n
        \                   \"city\" : \"New Brunswick\",\n                    \"state\"
        : \"NJ\",\n                    \"country\" : \"US\",\n                    \"formattedLocation\"
        : \"New Brunswick, NJ\",\n                    \"source\" : \"Rutgers University\",\n
        \                   \"date\" : \"Wed, 28 Jan 2015 19:39:03 GMT\",\n                    \"snippet\"
        : \"Also requires a minimum of five years of relevant professional experience,
        proficient with <b>CNC</b> G-Code programming, setup and operations for <b>CNC</b>
        lathes and mills...\",\n                    \"url\" : \"http://www.indeed.com/viewjob?jk=66d79b5e3b7672f5&qd=dbiWh_LzHK6bTV-fOfIZZ7U8LQio87N9PgRm7RXVeykIF7IoI325HCb8-t-JWhyAFe5Y_xjZHV8LaL9S5pMUxccf_zpmamxXWbws5ISvA0M&indpubnum=5675970181406859&atk=19cravk8d0nji1qg\",\n
        \                   \"onmousedown\" : \"indeed_clk(this, '6939');\",\n                    \"jobkey\"
        : \"66d79b5e3b7672f5\",\n                    \"sponsored\" : false,\n                    \"expired\"
        : false,\n                    \"indeedApply\" : false,\n                    \"formattedLocationFull\"
        : \"New Brunswick, NJ\",\n                    \"formattedRelativeTime\" :
        \"21 hours ago\"                \n}\n\n            ,\n        \n            \n
        \               {\n                    \"jobtitle\" : \"Warehouse Maintenance
        Manager\",\n                    \"company\" : \"Select Staffing\",\n                    \"city\"
        : \"New Brunswick\",\n                    \"state\" : \"NJ\",\n                    \"country\"
        : \"US\",\n                    \"formattedLocation\" : \"New Brunswick, NJ\",\n
        \                   \"[...]
[...]
