---
http_interactions:
- request:
    method: get
    uri: http://api.indeed.com/ads/apisearch?format=json&fromage=7&l=Edison,NJ&limit=25&publisher=5675970181406859&q=cnc&radius=10&start=25&useragent=Mozilla//4.0(Firefox)&userip=127.0.0.1&v=2
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"version":2,"query":"cnc","location":"Edison,NJ","paginationPayload":"","radius":10,"dupefilter":true,"highlight":true,"totalResults":3,"start":1,"end":3,"pageNumber":0,"results":[{"jobtitle":"Draftsperson
        (Steel Detailer)","company":"ACR Solutions Ltd","city":"Middlesex","state":"NJ","country":"US","formattedLocation":"Middlesex,
        NJ","source":"Careers4a","date":"Tue, 23 Aug 2016 19:11:12 GMT","snippet":"Ability
        to work under pressure and manage number of projects at any given time by
        prioritising projects based on site dates and production needs....","url":"http://www.indeed.com/viewjob?jk=bf7433d291523e7b&qd=dbiWh_LzHK6bTV-fOfIZZ7U8LQio87N9PgRm7RXVeynxMl8JTQ0RGN1-V3MUnbzCEpG5WSuhhSdJ3MGkub3C9C6VXVgS69OEWMnJ1A8fiSM&indpubnum=5675970181406859&atk=1ar6lh5m053usa8d","onmousedown":"indeed_clk(this,''269'');","jobkey":"bf7433d291523e7b","sponsored":false,"expired":false,"indeedApply":false,"formattedLocationFull":"Middlesex,
        NJ","formattedRelativeTime":"3 days ago"},{"jobtitle":"machinist","company":"Steimling
        & Son Inc","city":"Sayreville","state":"NJ","country":"US","formattedLocation":"Sayreville,
        NJ","source":"Workpop","date":"Fri, 26 Aug 2016 19:56:06 GMT","snippet":"Manual/CNC
        machinist. Large/heavy parts manufacture and repair for Marine and Industrial
        equipment. Must be physically fit. Knowledge of welding a plus but","url":"http://www.indeed.com/viewjob?jk=886283658422cb34&qd=dbiWh_LzHK6bTV-fOfIZZ7U8LQi[...]
[...]
