---
http_interactions:
- request:
    method: get
    uri: http://api.indeed.com/ads/apisearch?format=json&fromage=7&l=Camden,NJ&limit=25&publisher=5675970181406859&q=pediatric%20OR%20nurse&radius=5&start=25&useragent=Mozilla//4.0(Firefox)&userip=127.0.0.1&v=2
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/javascript;charset=UTF-8
    body:
      encoding: UTF-8
      string: "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n {\n\n    \"version\" : 2,\n
        \   \"query\" : \"pediatric OR nurse\",\n    \"location\" : \"Camden,NJ\",\n
        \   \n    \"dupefilter\" : true,\n     \n    \"highlight\" : true,\n    \n
        \   \"radius\" : 5,\n    \n    \n    \"start\" : 26,\n    \"end\" : 50,\n
        \   \"totalResults\" : 333,\n     \n    \"pageNumber\" : 1,\n    \n    \n
        \   \n    \n    \n\n     \n\n    \n\n    \n\n    \"results\" : [\n        \n
        \           \n                {\n                    \"jobtitle\" : \"RN -
        OR - PER DIEM\",\n                    \"company\" : \"Hahnemann University
        Hospital\",\n                    \"city\" : \"Philadelphia\",\n                    \"state\"
        : \"PA\",\n                    \"country\" : \"US\",\n                    \"formattedLocation\"
        : \"Philadelphia, PA\",\n                    \"source\" : \"Tenet Healthcare\",\n
        \                   \"date\" : \"Sat, 24 Jan 2015 13:43:17 GMT\",\n                    \"snippet\"
        : \"Graduate <b>Nurses</b> are welcomed at periodic intervals depending on
        preceptor availability. RN - OR - PER DIEM....\",\n                    \"url\"
        : \"http://www.indeed.com/viewjob?jk=00f16768c228f0f5&qd=dbiWh_LzHK6bTV-fOfIZZ8dFJFgc0tkmGuNICHHxC6Ty1ErQO15B3HmMocucshCaf8njigz4sP7kTR-UH8Xe6Jqab58sgEIisUzJJXoB4iaCE6wwhOgbLbNRZMUeHcH0&indpubnum=5675970181406859&atk=19cq06u0f0mqh0sp\",\n
        \                   \"onmousedown\" : \"indeed_clk(this, '7493');\",\n                    \"jobkey\"
        : \"00f16768c228f0f5\",\n                    \"sponsored\" : false,\n                    \"expired\"
        : false,\n                    \"indeedApply\" : false,\n                    \"formattedLocationFull\"
        : \"Philadelphia, PA\",\n                    \"formattedRelativeTime\" : \"4
        days ago\"                \n}\n\n            ,\n        \n            \n                {\n
        \                   \"jobtitle\" : \"Nurse / LPN - Transport\",\n                    \"company\"
        : \"BAYADA Home Health Care\",\n                    \"city\" : \"Cherry Hill\",\n
        \                   \"state\" : \"NJ\",\n                    \"country\" :
        \"US\",\n                    \"formattedLocation\" : \"Cherry Hill, NJ\",\n
        \                   \"sou[...]
[...]
- request:
    method: get
    uri: http://api.indeed.com/ads/apisearch?format=json&fromage=7&l=Camden,%20NJ&limit=25&publisher=5675970181406859&q=pediatric%20OR%20nurse&radius=5&start=0&useragent=Mozilla//4.0(Firefox)&userip=127.0.0.1&v=2
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/javascript;charset=UTF-8
    body:
      encoding: UTF-8
      string: "\n\n\n\n\[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=pennsauken,nj&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Pennsauken Township",
                       "short_name" : "Pennsauken Township",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Camden County",
                       "short_name" : "Camden County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "New Jersey",
                       "short_name" : "NJ",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Pennsauken Township, NJ, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.9960808,
                          "lng" : -75.0101459
                       },
                       "southwest" : {
                          "lat" : 39.9242009,
                          "lng" : -75.11764079999999
                       }
                    },
                    "location" : {
                       "lat" : 39.9562052,
                       "lng" : -75.058009
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.9960808,
                          "lng" : -75.0101459
                       },
                       "southwest" : {
                          "lat" : 39.9242009,
                          "lng" : -75.11764079999999
                       }
                    }
                 },
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Thu, 29 Jan 2015 05:01:32 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=39.9562052,-75.058009&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=west%20collingswood%20heights,nj&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
     [...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?key=<googleapis_key>&query=Allied%20Dental%20near%20Cherry%20Hill,NJ&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "next_page_token" : "CvQB5wAAADDArR2i7PBm59MVO7QFWdVMDryleBivQWx3ryluAw8iB0YdAJNo2k4TYA6xlKzdu0Sye07R4VEneaxGkVc7jeAff9sJ78OMPrLa8QqlrbVnpzTP_zWo5UVM0HP4LFDo_1NglJ7qfMM4YR83z0V3HExEssK5tZCwK-Xh6V7WzCYwpPWUvrZQRbe0kUuejKL303hmvlTyhs4zqmuFCg53d-cSBvrvwd229BVla3oa_Y-ikQgfRHqFXmLWWRvvviBQ4WheAc75oTb5dtUa6BqZbK3CG4tFRMhqAR_AjU6pZPlWik5OXpDDczhZO-qgnhgaNRIQNWZn_BdfbVPVIciFFiHVARoUnScSgdeCdamahglf23ILafLOtgE",
           "results" : [
              {
                 "formatted_address" : "6782 Market Street, Upper Darby, PA 19082, United States",
                 "geometry" : {
                    "location" : {
                       "lat" : 39.96195,
                       "lng" : -75.256624
                    }
                 },
                 "icon" : "http://maps.gstatic.com/mapfiles/place_api/icons/dentist-71.png",
                 "id" : "0e2a59b7f6864cabd044572e91551902ba35d696",
                 "name" : "Allied Dental Partners",
                 "place_id" : "ChIJQS_VMi7BxokRzuDaeOF_beY",
                 "reference" : "CoQBeQAAAF7V-i8LZaS8jpsVQRo0AQawxjsPRd-q2wDPgwtbJZ4EiaB4q90pCaRmzD2gxW1QU7KTcbBSOtgPwmJNyU5ZOpLv7L2OD0tF1pygwLd0uklyPvN8plxAyE-3f9LVop6KIkIJ8o_bpF6HO4nKvUkM8wFOmE0vzUEX91KVxsy7h7PpEhBFemlo7_S_el0Amh7Nmdj0GhStFpZMvXFL3FGTe85U_F80kIF7sw",
                 "types" : [ "dentist", "health", "establishment" ]
              },
              {
                 "formatted_address" : "1144 Hooper Avenue, Toms River, NJ 08753, United States",
                 "geometry" : {
                    "location"[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<googleapis_key>&reference=CnRwAAAAicXS0g-jEVKWrorSIeLPhrK4rDxtiXwPu0hwiY1txhapKXJfQ46jkPLvethhJT0A4GaUVPPhbA9xuSwS0Q7ZMvAAl--LJDFGuGzycqaswwFEC_rn1k7p6-FCUO2c1zygbEXp70n3EJeb0a8e5SN3lRIQDbA9QFCRUj90R7g3OxdiOhoU3ALbNSX7GusGuKHdQupUVFJQdz0&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "result" : {
              "address_components" : [
                 {
                    "long_name" : "1144",
                    "short_name" : "1144",
                    "types" : [ "street_number" ]
                 },
                 {
                    "long_name" : "Hooper Avenue",
                    "short_name" : "Hooper Avenue",
                    "types" : [ "route" ]
                 },
                 {
                    "long_name" : "Toms River",
                    "short_name" : "Toms River",
                    "types" : [ "locality", "political" ]
                 },
                 {
                    "long_name" : "New Jersey",
                    "short_name" : "NJ",
                    "types" : [ "administrative_area_level_1", "political" ]
                 },
                 {
                    "long_name" : "United States",
                    "short_name" : "US",
                    "types" : [ "country", "political" ]
                 },
                 {
                    "long_name" : "08753",
                    "short_name" : "08753",
                    "types" : [ "postal_code" ]
                 },
                 {
                    "long_name" : "7643",
                    "short_name" : "7643",
                    "types" : [ "postal_code_suffix" ]
                 }
              ],
              "adr_address" : "\u003cspan class=\"street-address\"\u003e1144 Hooper Avenue\u003c/span\u003e, \u003cspan class=\"locality\"\u003eToms River\u003c/span\u003e, \u003cspan class=\"region\"\u003eNJ\u003c/span\u003e \u003cspan class=\"postal-code\"\u003e08753\u003c/span\u003e, \u003cspan class=\"country-name\"\u003eUnited States\u003c/span\u003e",
              "formatted_address" : "1144 Hooper Avenue, Toms River, NJ 08753, United States",
              "formatted_phone_number" : "(732) 914-1213",
              "geometry" : {
                 "location" : {
                    "lat" : 39.976143,
                    "lng" : -74.183894
                 }
              },
              "icon" : "http://maps.gstatic.com/mapfiles/place_api/icons/dentist-71.png",
              "id" : "489103053fb4ddc399bb2f7cab7242352a105318",
              "international_phone_number" : "+1 732-914-1213",
              "name" : "Allied Dental",
              "place_id" : "ChIJS87jJuGdwYkRvhoQ_JJQ08k",
              "reference" : "CnRwAAAAmBrpezKosH_s9KqoWSUfw3Cxk9yKm3S6u-2ApIPrKf4Yik7eVbJI1NAzp5zCdY5cx334pAY1xTi3jJOPT1WNOyTPJnSwjrQWw2l3VrVZtuZTAc1UW2NbKAG2Y1a8heI9KDFhaDuXchrLw-6lf6Fi7BIQqUzGwHwNySomCwFnwIGOMBoUketdPs15MQfEKbAOMy7deZDj0kc",
              "scope" : "GOOGLE",
              "types" : [ "dentist", "health", "establishment" ],
              "url" : "https://plus.google.com/111682786353633768612/about?hl=en-US",
              "utc_offset" : -300,
              "vicinity" : "1144 Hooper Avenue, Toms River",
              "website" : "http://www.allieddental.com/"
           },
           "status" : "OK"
        }
  recorded_at: Thu, 29 Jan 2015 05:16:03 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=1144%20Hooper%20Avenue,%20Toms%20River,%20NJ%2008753,%20United%20States&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
       [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=toms%20river,nj,08753&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?key=<googleapis_key>&query=BAYADA%20Home%20Health%20Care%20near%20West%20Collingswood%20Heights,NJ&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.02
    body:
      encoding: UTF-8
      string: |[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<googleapis_key>&reference=CoQBegAAAJWux3NYhtXMMnkG4l0rQCdJ7PFwfSqnCwXzT0pJ5kXpf8YfKa7yvo09RF1WpsnnAhGohfsvkuNchES75GhH__C2SDJCaPI4Xo18ZrK3LsiViY56igEm0VEjFEhVS19e3cjMVa29Dbc8pD-waZtFBQLFxfmNy1f5W-ZuBWD5_pfPEhAzgbd06wAKBvVTGYrmOFqvGhSOJAj0Lv2xsAWZeQ-ROdxNO5OhgQ&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    he[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=20%20Brace%20Road%20%23202,%20Cherry%20Hill,%20NJ%2008034,%20United%20States&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
  [...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?key=<googleapis_key>&query=BAYADA%20Home%20Health%20Care%20near%20Pennsauken%20Township,NJ&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
       [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<googleapis_key>&reference=CoQBeQAAAPa9T3UIKN6sh285JTA8jxh6cw5jgJeLNO1m3CPMn4HcdaBxNm4tQMux1NVytbzef6YmRUFU9wdeMuD6ogDMG5jrBq7ZPodr-Jta3YH90GaImrY4z4iSEKzdWLzKDHSJ2MY90yrn5t1nyXa5wWzPX3HRq4XbjxIh5AzqbOUSHhbfEhBtJFWIbO6b3sVCTqJlAFXtGhRgq8jp2DRuIPbH6bvoRONN-PnWng&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    he[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=1000%20South%20Lenola%20Road%20%23102,%20Maple%20Shade%20Township,%20NJ%2008052,%20United%20States&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?key=<googleapis_key>&query=Cherry%20Hill%20Women's%20Center%20near%20Cherry%20Hill,NJ&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
  [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<googleapis_key>&reference=CoQBfAAAAPWjY9WdJPd2ePXQey_p1jpB-NDrbuOTGYobnuKmhP1vWM3ANyY6dsTGeinnj3B_6aSmQIYFYn4l5k3-q5jAK9A26OGETqTFMvBOUV5KeUwXGvn_ti5USfuLcrVGoCXVNCdUw28M5NVfWPFYneCc_88wJIgDCxD1vSXUmCiGaN0eEhDH9SuGLKcOGf49vN5L6mzxGhQsxre0ODtDC-kUbdQjpij7ol1PmQ&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    he[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=502%20Kings%20Highway%20North,%20Cherry%20Hill,%20NJ%2008034,%20United%20States&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?key=<googleapis_key>&query=Cigna%20near%20Philadelphia,PA&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions"[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<googleapis_key>&reference=CnRnAAAArCKRZWoQV9hRu7cop52FLNL-1lb4ki8gfN8IQm1_E8s2iivh16_X77IHDHlMZnh_xu3m66Ofeq5G7uwnzkTRgiRISHk3IAUorCJiuS5CY522GkaMkm-VvNm0rMXJWFMoPIviwtSE6MGTPpIXO28QSRIQLExs2a5W-Ckocv5S82aGexoUbpa-1GcMCSN2t9MZOGMXYekQpJY&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Ty[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=100%20Stevens%20Drive,%20Philadelphia,%20PA%2019113,%20United%20States&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
        [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?key=<googleapis_key>&query=Hahnemann%20University%20Hospital%20near%20Philadelphia,PA&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
  [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<googleapis_key>&reference=CoQBfgAAAHVqqofUSx_Gt4H9GWeHpkx7q926Yab9ohrFuKT5u8c7AX7svCJAs7DAGyLfRMrq-wIJVA8ELwQBpu_VbzgyxF5QbrItLWpiAsZo0eUYlTedYVOP9uIBex49-GT9xe2HiSSiLIRWR_Y33iPvW5ZJKq63S4iNTfZZiTOcBU-WGvHPEhBqxoyM_U84EhPj8ulnBpGYGhTOzH9pl7Es4c1LeoOTDYltrEg72g&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    he[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=230%20North%20Broad%20Street,%20Philadelphia,%20PA%2019102,%20United%20States&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
 [...]
- request:
    method: get
    uri: http://api.indeed.com/ads/apisearch?format=json&fromage=7&l=Camden,NJ&limit=25&publisher=5675970181406859&q=Java%20OR%20XML&radius=5&start=25&useragent=Mozilla//4.0(Firefox)&userip=127.0.0.1&v=2
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/javascript;charset=UTF-8
    body:
      encoding: UTF-8
      string: "\n\n\n\n\n\n\n\n\n[...]
[...]
- request:
    method: get
    uri: http://api.indeed.com/ads/apisearch?format=json&fromage=7&l=Camden,%20NJ&limit=25&publisher=5675970181406859&q=Java%20OR%20XML&radius=5&start=0&useragent=Mozilla//4.0(Firefox)&userip=127.0.0.1&v=2
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/javascript;charset=UTF-8
    body:
      encoding: UTF-8
      string: "\n\n\n\n\n\n\n\n[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?key=<googleapis_key>&query=Accenture%20near%20Philadelphia,PA&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributi[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<googleapis_key>&reference=CnRrAAAAL93pkeqITBRDBw2fEiMR2DcyW9rQGbgnwOYYfyGMejyysOvtqguplsGjdci1PlSJ4V4DKLEIOSIhXIMWz7dZRsBLa9LiNgYXa5TxbrbfTNpBRUs9bJsZBpgAI-Kei4s1eW9Yb8vd6Z0ozah0y8O48RIQ4f3KUYtxUn-toEDhF4dAQBoUmOch79eAYENtNdrKmo_WN_uU5Kw&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Ty[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=2005%20Market%20Street,%20Philadelphia,%20PA%2019103,%20United%20States&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
       [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?key=<googleapis_key>&query=Arena%20Technical%20Resources%20near%20Philadelphia,PA&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
      [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=<googleapis_key>&location=39.952335,-75.163789&name=Arena%20Technical%20Resources&radius=50000&sensor=false&types=establishment
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Thu, 29 Jan 2015 05:20:43 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?key=<googleapis_key>&query=Azavea%20near%20Philadelphia,PA&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [
              {
                 "formatted_address" : "340 North 12th Street #402, Philadelphia, PA 19107, United States",
                 "geometry" : {
                    "location" : {
                       "lat" : 39.958932,
                       "lng" : -75.15859500000001
                    }
                 },
                 "icon" : "http://maps.gstatic.com/mapfiles/place_api/icons/generic_business-71.png",
                 "id" : "6c52dd88692ad28f5d29cd026485571ad810ba44",
                 "name" : "Azavea Inc",
                 "opening_hours" : {
                    "open_now" : false,
                    "weekday_text" : []
                 },
                 "photos" : [
                    {
                       "height" : 190,
                       "html_attributions" : [],
                       "photo_reference" : "CnRnAAAAw0ydn49_37_zMGFs8W3qqTuo8GvKrmx6bieIUTqkG8X7-nzg2T4INczEPuODzT1QTuTMv8FkbSL90JUgNr6bfRmWfuk7KYvojoILAgbD3iEPlIGrVd_pNUkQVl8z5NG3oqo3JwzxyIRyoF3iB252uhIQKE7dI04ZgNWyO6xMN-avJRoUFrDrz8Od96VUbFMPgLJYcc2tevA",
                       "width" : 190
                    }
                 ],
                 "place_id" : "ChIJ7ROCztTHxokRV2WCyRDCXb8",
                 "reference" : "CnRsAAAAEI7XNrVbNnHqV9kabs_x_nXAadNO_waFP4B2gyF07RsTa7Hwv6OkP-EkMmfJuLzKK6pwQgptnAVofludZHZ6QHmi7lpxZ849Qpi-Sz8xojmE9LV9ruOsbqXXkch_FOTTs5ymsdWGg0UrdMNkibLBxxIQVdNGZBfsqhf3IkxHHuNV7BoUiAQ08JOt-kZL70mYkHYTIkUIOk0",
                 "types" : [ "establishment" ]
              },
              {
                 "formatted_address" : "2000 Hamilton Street, Philadelphia, PA 19130, United States",
                 "geometry" : {
                    "location" : {
                       "lat" : 39.961992,
                       "lng" : -75.17218200000001
                    }
                 },
                 "icon" : "http://maps.gstatic.com/mapfiles/place_api/icons/generic_business-71.png",
                 "id" : "15341acb0cff3e684c136e92ae71281cad60c16a",
                 "name" : "Communities In Schools-Phila",
                 "place_id" : "ChIJ0cEqAEPGxokRS3_DTjWQdvo",
                 "reference" : "CoQBfgAAANlBJyD3pQCFUUMNQnxE7_HnQAQYK0iwc-Bl49p06Kn5KCoi_4MIIrmW9ssmbOD5MyNl2FJ7gnPbjwBzM5fo0MK-aqhkGP-tXc4-vQHu6zwztMwep5z-qdcjV8x8d65BushtLTDIKe4dRpZ7UhcVXL5zqN0yWoHUBYqL9VCifLO4EhDNXPY59Or1-H8OP9FgNVVTGhQYQ9x28Wn_I0ntnBf1NHH7WOqPrQ",
                 "types" : [ "health", "establishment" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Thu, 29 Jan 2015 05:20:44 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<googleapis_key>&reference=CnRsAAAAEI7XNrVbNnHqV9kabs_x_nXAadNO_waFP4B2gyF07RsTa7Hwv6OkP-EkMmfJuLzKK6pwQgptnAVofludZHZ6QHmi7lpxZ849Qpi-Sz8xojmE9LV9ruOsbqXXkch_FOTTs5ymsdWGg0UrdMNkibLBxxIQVdNGZBfsqhf3IkxHHuNV7BoUiAQ08JOt-kZL70mYkHYTIkUIOk0&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Ty[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=340%20North%2012th%20Street%20%23402,%20Philadelphia,%20PA%2019107,%20United%20States&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
   [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?key=<googleapis_key>&query=DVG%20tech%20Solutions%20near%20Philadelphia,PA&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
[...]
