---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=101%20College%20Rd%20E,%20Princeton,%20NJ,%2008540&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "101",
                       "short_name" : "101",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "College Road East",
                       "short_name" : "College Rd E",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Princeton",
                       "short_name" : "Princeton",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Middlesex County",
                       "short_name" : "Middlesex County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "New Jersey",
                       "short_name" : "NJ",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "08540",
                       "short_name" : "08540",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "101 College Road East, Princeton, NJ 08540, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 40.3569769,
                          "lng" : -74.6065251
                       },
                       "southwest" : {
                          "lat" : 40.3569658,
                          "lng" : -74.6065364
                       }
                    },
                    "location" : {
                       "lat" : 40.3569769,
                       "lng" : -74.6065251
                    },
                    "location_type" : "RANGE_INTERPOLATED",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 40.3583203302915,
                          "lng" : -74.60518176970849
                       },
                       "southwest" : {
                          "lat" : 40.3556223697085,
                          "lng" : -74.6078797302915
                       }
                    }
                 },
                 "types" : [ "street_address" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 15 Apr 2014 18:41:32 GMT
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=princeton,nj,08540&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=40.3572976,-74.6672226&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "addre[...]
