---
http_interactions:
- request:
    method: get
    uri: http://api.simplyhired.com/a/jobs-api/xml-v2/q-Java+Ajax/l-Princeton,NJ/mi-10/fdb-7/ws-25/pn-2?auth=b36ebf8ca3b1e724cf128fa35757fb41fdd3cf82.110120&cflg=r&clip=127.0.0.1&pshid=110120&ssty=2
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      Content-Language:
      - en-us
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8'?>
        <!DOCTYPE shrs SYSTEM "http://api.simplyhired.com/c/jobs-api/html/sr2.dtd">
        <shrs><rq url="http://api.simplyhired.com/partner/api/xml/3/q-Java+Ajax/l-Princeton,NJ/mi-10/fdb-7/ws-25/pn-2"><t>Java Ajax jobs &amp; careers in Princeton, NJ</t><dt>2015-05-27T16:39:54Z</dt><si>25</si><rpd>25</rpd><tr>37</tr><tv>33</tv><em url=""/><h><kw pos="1"/></h></rq><rs><r><jt>Product Specialist</jt><cn url="">Data Incorporated</cn><src url="http://api.simplyhired.com/a/job-details/view/jobkey-25070.9eb9c94380fae071a1bd530b68de0431/rid-yxffjvpkrsrbdgmrlzhktsommwznlpqs/pub_id-110120?rfr=partner&amp;icsrc=xml">Dice</src><ty>organic</ty><loc country="US" county="MERCER COUNTY" cty="TRENTON" postal="08625" region="" st="NJ">Trenton, NJ</loc><ls>2015-05-27T09:29:25Z</ls><dp>2015-05-26T23:58:30Z</dp><e>Client Direct Position Product Specialist Location Trenton, NJ Duration 6+ months Description While this position is technical in nature a qualified candidate will be responsible ...</e></r><r><jt>NJDA - Product Specialist 3</jt><cn url="">Samiti Technology Inc.</cn><src url="http://api.simplyhired.com/a/job-details/view/jobkey-14716.6b606b98e2c60f0b8946472166696748/rid-yxffjvpkrsrbdgmrlzhktsommwznlpqs/cjp-1/pub_id-110120?rfr=partner&amp;icsrc=xml">Samiti Technology I[...]
[...]
