---
http_interactions:
- request:
    method: get
    uri: http://api.simplyhired.com/a/jobs-api/xml-v2/q-cnc/l-Edison,NJ/mi-10/fdb-7/ws-25/pn-2?auth=b36ebf8ca3b1e724cf128fa35757fb41fdd3cf82.110120&cflg=r&clip=127.0.0.1&pshid=110120&ssty=2
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      Content-Language:
      - en-us
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8'?>
        <!DOCTYPE shrs>
        <sherror><error code="1.1" type="noresults"><title></title><subtitle></subtitle><text></text><base/></error></sherror>
  recorded_at: Wed, 27 May 2015 16:51:04 GMT
- request:
    method: get
    uri: http://api.simplyhired.com/a/jobs-api/xml-v2/q-cnc/l-Edison,NJ/mi-10/fdb-7/ws-25/pn-1?auth=b36ebf8ca3b1e724cf128fa35757fb41fdd3cf82.110120&cflg=r&clip=127.0.0.1&pshid=110120&ssty=2
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      Content-Language:
      - en-us
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8'?>
        <!DOCTYPE shrs SYSTEM "http://api.simplyhired.com/c/jobs-api/html/sr2.dtd">
        <shrs><rq url="http://api.simplyhired.com/partner/api/xml/3/q-cnc/l-Edison,NJ/mi-10/fdb-7/ws-25/pn-1"><t>Cnc jobs &amp; careers in Edison, NJ</t><dt>2015-05-27T16:51:05Z</dt><si>0</si><rpd>25</rpd><tr>21</tr><tv>11</tv><em url=""/><h><kw pos="1"/></h></rq><rs><r><jt>CNC Machine Operator</jt><cn url="">Unnamed Precision Metal Parts Manufacturer</cn><src url="http://api.simplyhired.com/a/job-details/view/jobkey-44880.8275b4139/cparm-cF9pZD0xMTAxMjAmem9uZT02JmlwPTEyNy4wLjAuMSZjb3VudD0yJnN0YW1wPTIwMTUtMDUtMjcgMDk6NTE6MDUmY291bnRyeT11cyZwdWJsaXNoZXJfY2hhbm5lbF9pZHM9JmFfaWQ9MzAzNjEmY19pZD01NTQ4NCZjcGM9MC4xMCZwb3M9MSZoYXNoPTEzZjM4ZDgwZDI3YzYzMWM5NTYxNzQzMWJiYTVmM2Yy;bd0f82e5e6ecb39cfd773e4328992f99/rid-zewdvozszujvhnkzduajjoveyqmulwqo/pub_id-110120?rfr=partner&amp;icsrc=xml">ZipRecruiter</src><ty>sponsored</ty><loc country="US" county="MIDDLESEX COUNTY" cty="NORTH BRUNSWICK" postal="08902" region="" st="NJ">North Brunswick, NJ</loc><ls>2015-05-27T08:45:55Z</ls><dp>2015-05-27T08:45:55Z</dp><e>Company Description: This machine shop focuses on high precision work using the most sophisticated equipment, tooling, programming and methods. We pride ourselves on ...</e></r><r><jt>CNC Machinist</jt><cn url="">Unnamed Precision Metal Parts Manufacturer</cn><src url="http://api.simplyhired.com/a/job-details/view/jobkey-44880.63b4175e9/cparm-cF9pZD0xMTAxMjAmem9uZT02JmlwPTEyNy4wLjAuMSZjb3VudD0yJnN0YW1wPTIwMTUtMDUtMjcgMDk6NTE6MDUmY291bnRyeT11cyZwdWJsaXNoZXJfY2hhbm5lbF9[...]
