---
http_interactions:
- request:
    method: get
    uri: http://api.simplyhired.com/a/jobs-api/xml-v2/q-cnc/l-Edison,NJ/mi-10/fdb-7/ws-25/pn-2?auth=0dc844325fa6c66cfbb186e0979d77648429c700.<simplyhired_pshid>&cflg=r&clip=127.0.0.1&pshid=<simplyhired_pshid>&ssty=2
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"no\" ?>\n<!DOCTYPE
        shrs SYSTEM \"http://api.simplyhired.com/c/jobs-api/html/sr2.dtd\">\n\n<sherror>\n
        \ <error type=\"noresults\" code=\"1.1\">\n  <title></title>\n  <subtitle></subtitle>\n
        \ <text></text>\n  <base></base>\n </error>\n</sherror>\n "
  recorded_at: Sat, 31 Jan 2015 19:15:13 GMT
- request:
    method: get
    uri: http://api.simplyhired.com/a/jobs-api/xml-v2/q-cnc/l-Edison,NJ/mi-10/fdb-7/ws-25/pn-1?auth=0dc844325fa6c66cfbb186e0979d77648429c700.<simplyhired_pshid>&cflg=r&clip=127.0.0.1&pshid=<simplyhired_pshid>&ssty=2
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="no" ?>
        <!DOCTYPE shrs SYSTEM "http://api.simplyhired.com/c/jobs-api/html/sr2.dtd">

        <shrs>
        <rq url="http://api.simplyhired.com/a/jobs-api/xml_v2/q-cnc/l-Edison%2CNJ/mi-10/fdb-7/pn-1/ws-25">
          <t>Cnc Jobs - Edison, NJ</t>
          <dt>2015-01-31T19:15:13Z</dt>
          <si>0</si>
          <rpd>25</rpd>
          <tr>11</tr>
          <tv>9</tv>
          <em url=""/>
        <h>
          <kw pos="1"/>
        </h>
        </rq>
        <rs>
        <r>
          <jt>CNC Machine Operator</jt>
          <cn url="">Unnamed Precision Metal Parts Manufacturer</cn>
          <src url="http://api.simplyhired.com/a/job-details/view/cparm-cF9pZD05NDE2MSZ6b25lPTYmaXA9MTI3LjAuMC4xJmNvdW50PTMmc3RhbXA9MjAxNS0wMS0zMSAxMToxNToxMyZjb3VudHJ5PXVzJnB1Ymxpc2hlcl9jaGFubmVsX2lkcz0mYV9pZD0zMDM2MSZjX2lkPTU1NDg0JmNwYz0wLjA4JnBvcz0xJmhhc2g9MTIzOTc4MzIxMDFlZGUwOTliNjczNTljMGIxMzgyNTc%3D%3Bb9967135d6fc478e7425441fe12c9399/jobkey-44880.8275b4135/rid-vfhphjomleqyeptijduyvhkkktrfntjo/pub_id-<simplyhired_pshid>/cjp-0/hits-11?icsrc=xml&amp;rfr=partner">ZipRecruiter</src>
          <ty>sponsored</ty>
          <loc cty="North Brunswick" st="NJ" postal="08902" county="Middlesex County" region="" country="US">North Brunswick, NJ</loc>
          <ls>2015-01-31T19:04:28Z</ls>
          <dp>2015-01-27T13:53:28Z</dp>
          <e>2014-002) Successful machine shop seeking part-time CNC Machine Operator to run lathe and/or milling machines ... At least one to two years of experience operating CNC machines Ability to read blueprints Knowledge of...</e>
        </r>
        <r>
          <jt>CNC MOLDER</jt>
          <cn url="">Artistic Doors and Windows</cn>
          <src url="http://api.simplyhired.com/a/job-details/view/cparm-cF9pZD05NDE2MSZ6b25lPTYmaXA9MTI3LjAuMC4xJmNvdW50PTMmc3Rhb[...]
