---
http_interactions:
- request:
    method: get
    uri: http://api.simplyhired.com/a/jobs-api/xml-v2/q-cnc/l-Edison,NJ/mi-10/fdb-7/ws-25/pn-2?cflg=r&clip=127.0.0.1&jbd=<simplyhired_jbd>&pshid=<simplyhired_pshid>&ssty=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"no\" ?>\n<!DOCTYPE
        shrs SYSTEM \"http://api.simplyhired.com/c/jobs-api/html/sr2.dtd\">\n\n<sherror>\n
        \ <error type=\"noresults\" code=\"1.1\">\n  <title></title>\n  <subtitle></subtitle>\n
        \ <text></text>\n  <base></base>\n </error>\n</sherror>\n "
  recorded_at: Tue, 22 Apr 2014 17:02:55 GMT
- request:
    method: get
    uri: http://api.simplyhired.com/a/jobs-api/xml-v2/q-cnc/l-Edison,NJ/mi-10/fdb-7/ws-25/pn-1?cflg=r&clip=127.0.0.1&jbd=<simplyhired_jbd>&pshid=<simplyhired_pshid>&ssty=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="no" ?>
        <!DOCTYPE shrs SYSTEM "http://api.simplyhired.com/c/jobs-api/html/sr2.dtd">

        <shrs>
        <rq url="http://api.simplyhired.com/a/jobs-api/xml_v2/q-cnc/l-Edison%2CNJ/mi-10/fdb-7/pn-1/ws-25">
          <t>Cnc Jobs - Edison, NJ</t>
          <dt>2014-04-22T17:02:55Z</dt>
          <si>0</si>
          <rpd>25</rpd>
          <tr>3</tr>
          <tv>3</tv>
          <em url=""/>
        <h>
          <kw pos="1"/>
        </h>
        </rq>
        <rs>
        <r>
          <jt>SME Technical Sales</jt>
          <cn url="">KPIT Infosystems</cn>
          <src url="http://api.simplyhired.com/a/job-details/view/cparm-cF9pZD00OTgyMSZ6b25lPTYmaXA9MTI3LjAuMC4xJmNvdW50PTI1JnN0YW1wPTIwMTQtMDQtMjIgMTA6MDI6NTYmY291bnRyeT11cyZwdWJsaXNoZXJfY2hhbm5lbF9pZHM9bnVsbCZhX2lkPTQ5MjQ3JmNfaWQ9MzYwNjEmY3BjPTAuMDgmcG9zPTEmaGFzaD00ZTVjYzA5MWJjMGNmM2Y4N2FiNzdlNTlhYTY5ZjQ5Yg%3D%3D%3B355afcd6b43a40d392f483f1ef935d23/jobkey-25070.13243927/rid-leneddefvvjnhihawpnianjrjoqetaps/pub_id-<simplyhired_pshid>/cjp-0/hits-3">Dice</src>
          <ty>sponsored</ty>
          <loc cty="Iselin" st="NJ" postal="08830" county="Middlesex County" region="" country="US">Iselin, NJ</loc>
          <ls>2014-04-21T20:09:08Z</ls>
          <dp>2014-04-16T02:05:29Z</dp>
          <e>ions. Person should be considered Subject Matter Expert. Please send your updated resume with details to aarti.sabnanikpit.com mailtoaarti.sabnanikpit.com Cloud,Datacenter,Security,Telematics,M2M,...></e>
        </r>
        <r>
          <jt>Machinist Toolmaker</jt>
          <cn url="">Megawatt Machine Services</cn>
          <src url="http://api.simplyhired.com/a/job-details/view/cparm-cF9pZD00OTgyMSZ6b25lPTYmaXA9MTI3LjAuMC4xJmNvdW50PTI1JnN0YW1wPTIwMTQt[...]
