---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=10%20Rembrandt,%20East%20Windsor,%20NJ,%2008520&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n            {\n               \"long_name\" : \"10\",\n               \"short_name\"
        : \"10\",\n               \"types\" : [ \"street_number\" ]\n            },\n
        \           {\n               \"long_name\" : \"Rembrandt Way\",\n               \"short_name\"
        : \"Rembrandt Way\",\n               \"types\" : [ \"route\" ]\n            },\n
        \           {\n               \"long_name\" : \"East Windsor\",\n               \"short_name\"
        : \"East Windsor\",\n               \"types\" : [ \"locality\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"Mercer\",\n
        \              \"short_name\" : \"Mercer\",\n               \"types\" : [
        \"administrative_area_level_2\", \"political\" ]\n            },\n            {\n
        \              \"long_name\" : \"New Jersey\",\n               \"short_name\"
        : \"NJ\",\n               \"types\" : [ \"administrative_area_level_1\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"United
        States\",\n               \"short_name\" : \"US\",\n               \"types\"
        : [ \"country\", \"political\" ]\n            },\n            {\n               \"long_name\"
        : \"08520\",\n               \"short_name\" : \"08520\",\n               \"types\"
        : [ \"postal_code\" ]\n            }\n         ],\n         \"formatted_address\"
        : \"10 Rembrandt Way, East Windsor, NJ 08520, USA\",\n         \"geometry\"
        : {\n            \"location\" : {\n               \"lat\" : 40.253859,\n               \"lng\"
        : -74.54743490000001\n            },\n            \"location_type\" : \"ROOFTOP\",\n
        \           \"viewport\" : {\n               \"northeast\" : {\n                  \"lat\"
        : 40.2552079802915,\n                  \"lng\" : -74.54608591970852\n               },\n
        \              \"southwest\" : {\n                  \"lat\" : 40.2525100197085,\n
        \                 \"lng\" : -74.54878388029152\n               }\n            }\n
        \        },\n         \"partial_match\" : true,\n         \"types\" : [ \"street_address\"
        ]\n      }\n   ],\n   \"status\" : \"OK\"\n}\n"
  recorded_at: Tue, 12 Nov 2013 12:57:35 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=east%20windsor,nj,08520&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n            {\n               \"long_name\" : \"East Windsor\",\n               \"short_name\"
        : \"East Windsor\",\n               \"types\" : [ \"locality\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"Mercer\",\n
        \              \"short_name\" : \"Mercer\",\n               \"types\" : [
        \"administrative_area_level_2\", \"political\" ]\n            },\n            {\n
        \              \"long_name\" : \"New Jersey\",\n               \"short_name\"
        : \"NJ\",\n               \"types\" : [ \"administrative_area_level_1\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"United
        States\",\n               \"short_name\" : \"US\",\n               \"types\"
        : [ \"country\", \"political\" ]\n            }\n         ],\n         \"formatted_address\"
        : \"East Windsor, NJ, USA\",\n         \"geometry\" : {\n            \"bounds\"
        : {\n               \"northeast\" : {\n                  \"lat\" : 40.301054,\n
        \                 \"lng\" : -74.481202\n               },\n               \"southwest\"
        : {\n                  \"lat\" : 40.216653,\n                  \"lng\" : -74.5794629\n
        \              }\n            },\n            \"location\" : {\n               \"lat\"
        : 40.2677539,\n               \"lng\" : -74.54025059999999\n            },\n
        \           \"location_type\" : \"APPROXIMATE\",\n            \"viewport\"
        : {\n               \"northeast\" : {\n                  \"lat\" : 40.301054,\n
        \                 \"lng\" : -74.481202\n               },\n               \"southwest\"
        : {\n                  \"lat\" : 40.216653,\n                  \"lng\" : -74.5794629\n
        \              }\n            }\n         },\n         \"types\" : [ \"locality\",
        \"political\" ]\n      }\n   ],\n   \"status\" : \"OK\"\n}\n"
  recorded_at: Tue, 10 Dec 2013 18:48:12 GMT
recorded_with: VCR 2.7.0
