---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=10%20Rembrandt,%20East%20Windsor,%20NJ,%2008520&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: US-ASCII
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "10",
                       "short_name" : "10",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Rembrandt Way",
                       "short_name" : "Rembrandt Way",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "East Windsor",
                       "short_name" : "East Windsor",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Mercer",
                       "short_name" : "Mercer",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "New Jersey",
                       "short_name" : "NJ",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "08520",
                       "short_name" : "08520",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "10 Rembrandt Way, East Windsor, NJ 08520, USA",
                 "geometry" : {
                    "location" : {
                       "lat" : 40.253859,
                       "lng" : -74.54743490000001
                    },
                    "location_type" : "ROOFTOP",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 40.2552079802915,
                          "lng" : -74.54608591970852
                       },
                       "southwest" : {
                          "lat" : 40.2525100197085,
                          "lng" : -74.54878388029152
                       }
                    }
                 },
                 "partial_match" : true,
                 "types" : [ "street_address" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 12 Nov 2013 12:57:35 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=east%20windsor,nj,08520&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: US-ASCII
      string: |
        {
           "results" : [
              {
                 "[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=10%20Rembrandt,%20East%20Windsor,%20NJ,%2008520&key=<googleapis_key>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "10",
                       "short_name" : "10",
                       [...]
