---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=841%20Georges%20Road,North%20Brunswick,NJ,08902&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "841",
                       "short_name" : "841",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Georges Road",
                       "short_name" : "Georges Rd",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "North Brunswick Township",
                       "short_name" : "North Brunswick Township",
                       "types" : [ "locality", "political" ]
                    },
                    {
  [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=841%20Georges%20Road,%20North%20Brunswick%20Township,%20NJ,%2008902&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=2%20Albany%20Street,New%20Brunswick,NJ,08901&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
         [...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=2%20Albany%20Street,%20New%20Brunswick,%20NJ,%2008901&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=1%20no%20street,What,CC,33333&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Sat, 31 Jan 2015 23:38:35 GMT
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=north%20brunswick%20township,nj,08902&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "North Brunswick Township",
                       "short_name" : "North Brunswick Township",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Middlesex County",
                       "short_name" : "Middlesex County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "New Jersey",
                       "short_name" : "NJ",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "North Brunswick Township, NJ, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 40.4779429,
                          "lng" : -74.41520989999999
                       },
                       "southwest" : {
                          "lat" : 40.4131129,
                          "lng" : -74.531476
                       }
                    },
                    "location" : {
                       "lat" : 40.4525163,
                       "lng" : -74.4766712
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 40.4779429,
                          "lng" : -74.41520989999999
                       },
                       "southwest" : {
                          "lat" : 40.4131129,
                          "lng" : -74.531476
                       }
                    }
                 },
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 31 Jan 2015 23:39:52 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=40.4525163,-74.4766712&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=new%20brunswick,nj,08901&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
             [...]
[...]
