---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=765%20Newman%20Springs%20Rd,%20Middletown,%20NJ,%2007738&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "765",
                       "short_name" : "765",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Newman Springs Road",
                       "short_name" : "Newman Springs Rd",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Lincroft",
                       "short_name" : "Lincroft",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                [...]
[...]
