<% if @importer.errors? %>
  <%= render 'shared/import_fails', import_status: @importer.import_status %>
<% else %>
  <div class="modal hide" id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-header"  style='background-color: #ddd'>
      <div id='modal_title'>
        <h2>Importing <%= params[:resource] %> data...Please wait</h2>
      </div>
    </div>
    <div class="modal-body" style='padding: 20px'>
      <div class ='row-fluid' style= 'margin-bottom: 20px' >
        <span id='ROWS_SUCCESSFUL' style='padding: 5px; border: solid green; text-weight: bold'>0</span><b> Records Imported</b>
      </div>
      <div class ='row-fluid'>
        <span id='ROWS_FAILED' style='padding: 5px; border: solid red'>0</span><b> Records Failed</b>
      </div>
    </div>
  </div>
  <%= content_tag "div", id: "page_data",
                         data: { import_status_id: @importer.import_status_id,
                                 window_load_function: "perform_import_status" } do %>
  <% end %>
<% end %>
