<a style="text-decoration:none" href="http://www.simplyhired.com/" rel="nofollow">
  <img src="http://www.simply-partner.com/static/_/img/sh-logo-wide.png" alt="jobs by simply hired" title="simply hired job feed">
</a>

<script type="text/javascript" src="http://api.simplyhired.com/c/jobs-api/js/xml-v2.js"></script>
