<% if @grant_trainee_status.errors.any? %>
  $('#error_text').text('<%= @grant_trainee_status.errors.first[1] %>');
<% else %>
  // location.href = "/grant_trainee_statuses";
  $('#error_text').text('');
  $('#new_grant_trainee_status').remove();
  $('#grant_trainee_statuses').html('<%= j render @grant_trainee_statuses %>');
  $("#grant_default_trainee_status_id").append("<option value='<%=@grant_trainee_status.id%>'><%=@grant_trainee_status.name%></option>");
  $('#new_grant_trainee_status_link').show();
<% end %>

