<div id="helpModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">

  <div class="modal-header" style='background-color: #ddd'>
    <h4 id="statusModalLabel">Employers on Map.
    <button type="button" class="btn btn-flat btn-danger pull-right" data-dismiss="modal" aria-hidden="true">×</button>
    </h4>
  </div>

  <div class="modal-body" id="status_areas">
    <p><strong style="color: blue">Option 1:</strong> Select a sector and/or some counties and click Find to see all employers in those sectors/counties.</p>

    <p><strong style="color: blue">Option 2:</strong> Enter first few characters in name field to see all employers with that name.</p>

    <p>With either option above, select checkbox of colleges to see all colleges. You can also see all the trainees of a class by selecting a class.</p>

    <hr>
    <p><strong style="color: brown">Note: When searching by name, counties and sector will be ignored.</strong></p>
  </div>

  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>

</div>
