<h4>Apprentices</h4>
  <table id="table_employer" class="table table-condensed table-bordered table-striped table-hover table_freeze_header">
    <thead>
    <tr>
      <th>Name</th>
      <th>Mentor</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
      <% employer.apprentices.each do |apprentice| %>
        <tr>
          <td><%= link_to(apprentice.name, trainee_path(apprentice))%></td>
          <td><%= apprentice.mentor && apprentice.mentor.info %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
