<h4>Apprentices</h4>
<% employer.apprentices.each do |apprentice| %>
  <p>
    <% name = apprentice.name %>
    <% if apprentice.mentor.present?
        name = [name, apprentice.mentor.name, apprentice.mentor.email, apprentice.mentor.phone].join(" - ")
       end %>
    <%= link_to(name, trainee_path(apprentice)) %>
  </p>
<% end %>
