<table class="table table-condensed table-striped table-hover">
  <tr>
    <td>Total Leads</td>
    <td><%= job_search_profile.job_leads_count %></td>
  </tr>

  <% job_search_profile.job_lead_counts_by_status.each do |job_status, count| %>
    <% span_id = job_status.downcase.split.join('_') + '_count' %>
    <tr>
      <td><%= link_to job_status, trainee_job_search_profile_path(status: job_status) %></td>
      <td><span id = '<%=span_id%>'><%= count %></span></td>
    </tr>
  <% end %>

</table>
