<div id="helpModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
  <div class="modal-header" style='background-color: #ddd'>
    <h4 id="statusModalLabel">Trainees on Map.
    <button type="button" class="btn btn-flat btn-danger pull-right" data-dismiss="modal" aria-hidden="true">×</button>
    </h4>
  </div>
  <div class="modal-body" id="status_areas">
    <p><strong style="color: blue">Option 1:</strong> Select a class and click Find to see all trainees of selected class on a map.</p>

    <p><strong style="color: blue">Option 2:</strong> Select a class and select a trainee by name. Pick a sector and click Find to see the selected trainee and employers near that trainee.</p>

    <hr>
    <p><strong style="color: brown">Note: You have to select 'All' in trainees list in order to see all the trainees of a class on a map.</strong></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
