<div id="modal_disable_trainee"
     class="modal hide fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-header" style='background-color: #ddd'>
    <b>Diable <%= trainee.name %></b>
    <button id="modal_close"
            class="btn btn-flat btn-mini btn-warning pull-right"
            data-dismiss="modal"
            aria-hidden="true">
      <i class='icon-remove white'></i>
    </button>
  </div>
  <div class="modal-disable-trainee-errors" style='color: red; text-align: center'>
  <!-- gets filled by js response -->
  </div>
  <div class="modal-disable-trainee-body">
  <!-- gets filled by js response -->
  </div>
</div>
