<div id="modal_new_employer"
     class="modal hide fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-header">
    <b>New Employer</b>
    <button id="modal_close"
            class="btn btn-flat btn-mini btn-warning pull-right"
            data-dismiss="modal"
            aria-hidden="true">
      <i class='icon-remove white'></i>
    </button>
  </div>
  <div class="modal-new-employer-errors" style='color: red; text-align: center'>
  <!-- gets filled by js response -->
  </div>
  <div class="modal-new-employer-body">
  <!-- gets filled by js response -->
  </div>
</div>
