<% if @importer.errors? %>
  <%= render 'shared/import_fails', import_status: @importer.import_status %>
<% else %>
  <div class="modal hide" id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-header"  style='background-color: #ddd'>
      <div id='modal_title'>
        Importing <%= params[:resource] %> data...Please wait
      </div>
    </div>
    <div class="modal-body">
      <b>Records Successful:</b> <span id='ROWS_SUCCESSFUL'></span><br>
      <b>Records Failed:</b> <span id='ROWS_FAILED'></span>
    </div>
  </div>

  <%= content_tag "div", id: "page_data",
                         data: { import_status_id: @importer.import_status_id,
                                 window_load_function: "perform_import_status",
                                 admin: 1 } do %>
  <% end %>
<% end %>
