<div class = 'row-fluid'>
  <div class='span5 offset1'>
    <h1>Visits</h1>
    <table class="table table-condensed table-bordered table-striped table-hover">
      <tr class='info'>
        <th>Class</th>
        <th>Event</th>
        <th>Date</th>
        <th>Employers</th>
      </tr>
      <% @visits.each do |visit| %>
      <tr class='info'>
        <td><%= visit.klass_name%></td>
        <td><%= visit.name%></td>
        <td><%= visit.event_date%></td>
        <td><%= visit.employer_names.join('<br>').html_safe%></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>