<h1>DASHBOARD</h1>

<h4>All Trainees</h4>
<table class="table table-condensed table-bordered table-striped table-hover">
  <tr>
    <% @applicant_metrics.header.each do |h| %>
      <th><%= h %></th>
    <% end %>
  </tr>
  <% @applicant_metrics.rows.each do |row| %>
    <tr>
      <% row.each do |d| %>
        <td><%= d %></td>
      <% end %>
    </tr>
  <% end %>
</table>
