<table id="table_report" class="table table-condensed table-bordered table-striped table-hover">
    <tr>
        <th>Name</th>
        <th>Trainees</th>
        <th>Program</th>
    </tr>
    <% klasses.each do |klass| %>
    <tr>
        <td>
            <%= name_and_link(klass) %>
        </td>
        <td><%=klass.klass_trainees.count%></td>
        <td><%= klass.program_name %></td>
    </tr>
    <% end %>
</table>
