<div id = '<%=div_id_for(certificate_category)%>'>
  <p>
    <%= button_destroy_association(certificate_category) if certificate_category.destroyable? %>
    <%= certificate_category.code %>
    <%= certificate_category.name %>
  </p>
</div>
