$('#new_employer_file').remove();
<% s = "#{@employer_file.created_at.to_date.to_s}:#{@employer_file.name}:#{@employer_file.notes} "%>
$('#files').append(<%= ('"<p>'+ s +'</p>"').html_safe %>);
$('#new_employer_file_link').show();