<div class = 'row-fluid page-caption-div' >
  <h1>Find Companies</h1>
</div>
<div class = 'row-fluid'>
  <div class = 'span4'>
    <%= form_tag companies_finder_path, id: 'form-process-companies', multipart: true do %>
      <p><strong>Find A File To Process:</strong></p>
      <%= file_field_tag :file %>
      <br><br>

      <div class='form-actions'>
        <button type="submit" id='submit-button' class="btn btn-flat btn-large btn-primary btn-spinner" data-loading-text="<i class='icon-spinner icon-spin icon-large'></i> Process...">
          Process
        </button>
      </div>
    <% end %>
  </div>
  <div class = 'span8'>
    <% if @companies_finder && @companies_finder.errors? %>
      <h4 style='color: red'><%= @companies_finder.error %></h4>
    <% end %>
    <hr>
    <b style='color: blue'><%= link_to "Click here to download the file template", "/documents/companies_list.xlsx"%></b>

    <h4>Guide Lines</h4>
    <ol>
      <li>Download and open the excel file from the link above</li>
      <li>Take a look at the header that describes the required column names</li>
      <li>After loading data into the file, save the file in excel format</li>
      <li>Important: Delete the example data from the file before submitting the request</li>
    </ol>
  </div>
</div>
