<% if @companies_finder.errors? %>
  <%= render 'form' %>
<% else %>
  <div class="modal hide" id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-header"  style='background-color: #ddd'>
      <div id='modal_title'>
        <h2>Processing <%= params[:file].original_filename %> ...Please wait</h2>
      </div>
    </div>
    <div class="modal-body" style='padding: 20px'>
      <div class ='row-fluid' style= 'margin-bottom: 20px' >
        <span id='ROWS_SUCCESSFUL' style='padding: 5px; border: solid green; text-weight: bold'>0</span><b> Companies Found</b>
      </div>
      <div class ='row-fluid'>
        <span id='ROWS_FAILED' style='padding: 5px; border: solid red'>0</span><b> Not Found </b>
      </div>
    </div>
  </div>

  <%= content_tag "div", id: "page_data",
                         data: { process_id: @companies_finder.process_id,
                                 window_load_function: "companies_finder_processing"  } do %>
  <% end %>
<% end %>
