<div class="control-group file optional folder_attachments_file">
	<div class="controls"><input class="file optional" id="email_attachments_<%=number%>_file" name="email[attachments][file<%=number%>]" type="file">
	</div>
</div>