<div style="background-color:rgba(248,247,216,0.7); width:100%; min-height:780px;">
    <div style='padding-top: 100px; padding-left: 50px'>

      <h3>
        Sorry, this grant is closed and we can't provide any additional services.
      </h3>

    </div>
</div>
