<div style="background-color:rgba(248,247,216,0.7); width:100%; min-height:780px;">
    <div style='padding-top: 100px; padding-left: 50px'>
      <p>
        EFFECTIVE 7/31/19 THE READY TO WORK NJ GRANT EXPIRED AND THEREFORE NO ADDITIONAL SERVICES WILL BE AVAILABLE.  
      </p>
      <p>
        IF YOU ARE IN NEED OF ADDITIONAL SERVICES PLEASE CONTACT YOUR LOCAL ONE STOP CAREER CENTER AND SPEAK TO AN EMPLOYMENT COUNSELOR TO DETERMINE ELIGIBILITY. GOOD LUCK!
      </p>
    </div>
</div>
