<h1>Employers With Missing Address</h1>
<%= @report.render_counts %>
<%= @report.download_button %>
<%= render 'shared_employers_no_address.html.erb', report: @report %>
<%= render 'shared/export_table.js.erb' %>