<div id='main-navbar' class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" style = 'height: 30px;' href="#">
        Opero Admin
      </a>
      <div class="nav-collapse collapse">
      <ul class="nav pull-right">
        <%= admin_menu_items %>
      </ul><!--/.nav-->
      </div>
    </div><!--/.container-fluid-->
  </div><!--/.navbar-inner-->
</div><!--/.navbar-->
