<div id='main-navbar' class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
   <div class="container-fluid">
	  <a class="brand" style = 'height: 70px;' href="#"><i class="icon-leaf green"></i>
	  	<!-- <img alt="Jason's Photo" src="" style='width: 50px' /> -->
		TAPO
	  </a>
   </div><!--/.container-fluid-->
  </div><!--/.navbar-inner-->
</div> <!--/.navbar-->