<div id='main-navbar' class="navbar navbar-inverse">
  <div class="navbar-inner">
   <div class="container-fluid">
    <h1 style = 'color: white'><%= current_account.name %></h1>
    <h4 style = 'text-align: center; color: white'>Job Lead Status Information</h4>
   </div><!--/.container-fluid-->
  </div><!--/.navbar-inner-->
</div> <!--/.navbar-->