<div class = 'row-fluid page-caption-div'>
  <h1 style='margin-top:0; margin-bottom:0'><%= "Class Information - #{@klass.name}" %></h1>
</div>
<div class = 'row-fluid'>
  <div class = 'span4 left-panel'>
    <%= render 'klass_basic_panel', klass: @klass %>
  </div>
  <div class = 'span4', style = 'border-right:1px solid #EEE;' id = 'events_panel'>
    <%= render 'klass_events_panel', klass: @klass %>
  </div>
  <div class = 'span4' id = 'trainees_panel'>
    <%= render 'klass_trainees_panel', klass: @klass %>
  </div>
</div>
